body, html{
    background-color: #ffbf00;
    text-align: center;
}

canvas{
    border: 5px solid #f7347a;
}

h1{
    margin-top: 0;
    letter-spacing: -10px;
    font-size: 4em;
    font-weight: bold;
    font-family: "Averin Next", Verdana;
}